/*============ VARIABLES =========*/

$main-color: #9b1c51;
$text-color: #444;

/*============ FONTS =========*/

@font-face {
    font-family: "IRANSans";
    src: url("/resources/font/IRANSans.ttf");
}

/*============ STYLES =========*/

html {
    direction: rtl;
    width: 100%;
    height: 100%;

    body {
        direction: rtl;
        height: 100%;
        font-family: "IRANSans", sans-serif;
        color: $text-color;
        overflow-x: hidden;

        h1,h2,h3,h4,h5,h6,p {
            line-height: 1.5;
            letter-spacing: normal;
            word-spacing: normal;
        }
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2em;
        }
        a, ul > li {
            text-decoration: none;
            list-style: none;
            outline: none;
            color: $text-color;
            cursor: pointer;
        }
        header {
            background: url(/vendores/asset/main-bg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;

            .header-wrap {
                background: rgba(0, 0, 0, .5);
                height: 100%;
                .header {
                    width: 100%;
                    height: 65px;
                    background-color: #fff;
        
                    .header-inner {
                        width: 95%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin: 0 auto;
        
                        .main-nav {
                            width: 60%;
                            display: flex;
                            
                            .site-logo {
                                display: flex;
                                align-items: center;
        
                                img {
                                    width: 150px;
                                }
                            }
                            nav {
                                width: 100%;
                                display: flex;
                                align-items: center;
        
                                ul {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-around;
        
                                    li > a {
                                        padding-bottom: 4px;

                                        &:hover {
                                            border-bottom: 2px solid #444;
                                        }
                                    }
                                }
                            }
                        }
                        .user-panel {
                            width: 17%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
        
                            .btn {
                                padding: 7px 20px;
                                line-height: 1.7;
                                font-size: 18px;
                                text-align: center;
                                width: 100px;
                                border-radius: 25px;
                                cursor: pointer;
                            }
                            .btn-full {
                                border: 2px solid $main-color;
                                background-color: $main-color;
                                color: #eee;
                                transition: .5s;
                                &:hover {
                                    background-color: #fff;
                                    color: $main-color;
                                }
                            }
                            .btn-hollow {
                                border: 2px solid $main-color;
                                color: $main-color;
                            }
                        }
                    }
                }
                .hero-section {
                    color: #fff;
                    height: 76vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

